{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
  <title>MySite</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
	.card {
	height:320px;
	overflow: hidden;
}

.card-image{
	height:150;
	overflow: hidden;

}
</style>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></head>
<body>
        <nav>

            <div class="container nav-wrapper">
            <a href="/" class="brand-logo">coddedaddes List</a>
                <ul id="nav-mobile" class="right">
                    <li><a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a></li>
                </ul>
            </div>
        </nav>
<div class="container">
<h1 style="text-align: center">What do you want to search for on Coddaddies List?</h1>
    <div class="row">
    	<div class="col s4">
    		<div class="center">
    			 <!--mic_none  -->
  		<i class="large material-icons" style="color: #EE6E73">mic_none</i>
            <p> Speak to what you whant</p>
            <p class="light center">Scraoe away right here with a beautiful GUI</p>
                		
             </div>
    	</div>
    	<div class="col s4">
    		<div class="center">
    			 <!--cemrea  -->
  		<i class="large material-icons" style="color: orange">camera</i>
            <p>Filter your searches</p>
            <p class="light center">We bulit in functonality to filter based on pricing</p>                		
             </div>
    	</div> 
    	<div class="col s4">
    		<div class="center">
    			 <!--mic_none  -->
  		<i class="large material-icons" style="color: blue">speaker_group</i>
            <p> Speak to what you whant</p>
            <p class="light center">Speak a group conversation for Help </p>
                		
             </div>
    	</div>
    	
    </div>
</div>
<div class="container">

<form action="{% url 'new_search' %}" method ="post">
{% csrf_token %}
<input type="text" name="search" placeholder="search.............">
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">flash_on</i>
  </button>
</form>
    {% block content %}

    {% endblock %}

</div>

</body>
</html>